GBX_RPC_HOST=127.0.0.1
GBX_RPC_PORT=8332

GBX_POOL_STRATUM_HOST=0.0.0.0
GBX_POOL_STRATUM_PORT=3333

GBX_POOL_API_HOST=0.0.0.0
GBX_POOL_API_PORT=8087

GBX_POOL_WEB_BASE=/pool
GBX_POOL_API_WEB_BASE=/pool-api

GBX_POOL_NAME="GOLDBRIX Pool"
GBX_POOL_FEE_PERCENT=0.0
GBX_POOL_MIN_PAYOUT_GBX=1.00
GBX_POOL_PAYOUT_MODE=PPLNS
GBX_POOL_PAYOUT_INTERVAL_SEC=3600
GBX_POOL_COINBASE_MATURITY=100

GBX_POOL_DB=/root/goldbrix-pool/db/pool.db
GBX_POOL_LOG_DIR=/root/goldbrix-pool/logs
GBX_RPC_DATADIR=/root/.bitcoin
